<footer class="container">
  <p class="mb-0 pb-0">
    &copy; <%= Time.now.utc.strftime '%Y' %>
    BlueskyVirtual &middot;
    <a href="#">Privacy</a>
    &middot;
    <a href="#">Terms</a>
    <p class="mt-0 pt-0 small">
      Non-commercial. For flight simulation purposes only. In no way affiliated
      with any airline or its affiliates. Any use of logos, images,
      and trademarks remain the property of their respective owners.
    </p>
  </p>
</footer>
