<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarFlightsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Flights
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarFlightsDropdownMenuLink">
    <a class="dropdown-item" href="#">Airlines</a>
    <a class="dropdown-item" href="#">Schedule</a>
    <a class="dropdown-item" href="#">Live Map</a>
  </div>
</li>
