<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarInfoDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Information
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarInfoDropdownMenuLink">
    <a class="dropdown-item" href="#">News</a>
    <a class="dropdown-item" href="#">NOTAMS</a>
    <a class="dropdown-item" href="#">Procedures</a>
    <a class="dropdown-item" href="#">Users logged in</a>
  </div>
</li>
