<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarPeopleDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    People
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarPeopleDropdownMenuLink">
    <%= link_to 'Roster', users_path, class: 'dropdown-item' %>
    <a class="dropdown-item" href="#">Awards</a>
    <a class="dropdown-item" href="#">Statistics</a>
  </div>
</li>
