<%= content_for(:title, 'New Airline') %>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h3>New Airline</h3>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'form' %>
  </div>
</div>