<%= content_for(:title, 'Airline not found!') %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Whoops! This airline does not exist.</h3>
    </div>
  </div>
</div>
