/* custom navbar */
.navbar-home {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background: rgba(0, 0, 0, 0.2);
  &.scrolled {
    background: rgb(248, 249, 250);
    background: rgba(248, 249, 250, 0.9);
    box-shadow: 0px 1px 4px #ccc;
  }
}

.navbar-bluesky {
  background: rgb(48, 65, 90);
}
